{% extends "base.html" %}

{% block head %}
<style>
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
  background-color: #e1e1e1;
  font: 0.8em Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.error-container-wrap {
  max-width: 700px;
  padding: 50px 0;
  margin: 0 auto;
}

.error-container {
  padding: 32px 38px 36px;
  background-color: white;
  box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.1);
}

.error-text-container {
  /* nothing */
}

.error-title {
  font-size: 21px;
  margin: 0 0 23px 0;
  font-weight: inherit;
  line-height: 1.3;
}

.error-content {
  font-size: 15px;
  line-height: 1.4;
}

.error-code {
  font-size: 13px;
  margin-top: 24px;
  color: #777;
}

.button-container {
  /* nothing */
}

.btn {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  color: #333;
  background-color: white;
  border: 0;
  border-radius: 3px;
  font: inherit;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 0 .78em;
  line-height: 24px;
}

.btn .btn-text {
  position: relative;
}

.btn.btn-primary {
  font-size: 15px;
  line-height: 32px;
  background: linear-gradient(to bottom, rgba(96, 64, 0, 0.4) 0%, rgba(70, 47, 0, 0.54) 100%);
}

.btn.btn-primary:before {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background: linear-gradient(to bottom, #ffdf60 0, #ffcc00 100%);
  border-radius: 2px;
}

.btn.btn-primary:hover:before {
  background: linear-gradient(to bottom, rgb(255, 230, 129) 0%, rgb(255, 212, 40) 100%);
}

.btn:focus,
.btn.btn-primary:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px 2px rgba(255, 204, 0, 0.7);
}
</style>
{% endblock %}

{% block body %}
<div class="error-container-wrap">
  <div class="error-container">
    <div class="error-text-container">
      <h1 class="error-title">{% block message_title %}{% endblock %}</h1>
      <div class="error-content">{% block message %}{% endblock %}</div>
    </div>

    <div class="button-container">{% block buttons %}
      <a href="{% block button_link %}#{% endblock %}" target="_blank" class="btn btn-primary">
        <span class="btn-text">{% block button_link_text %}{% endblock %}</span>
      </a>
    {% endblock %}</div>

    <div class="error-code">{% block error_code %}{% endblock %}</div>
  </div>
</div>
{% endblock %}
